@model InGame.Web.Models.CategoryDropDownModel

<label>Category</label>

@*@Html.DropDownListF(m => m.CategoryId, (IEnumerable<SelectListItem>)ViewBag.Categories, null, new { @class = "form-control" })*@

